/* To customize bootstrap see the HowTo... .txt file*/

@import "static/scss/functions";
$theme_bg             : black ;

$primary        : orange;
$primary-100: tint-color($primary, 80%) ;
$primary-200: tint-color($primary, 60%) ;
$primary-300: tint-color($primary, 40%) ;
$primary-400: tint-color($primary, 20%) ;
$primary-500: $primary                  ;
$primary-600: shade-color($primary, 20%);
$primary-700: shade-color($primary, 40%);
$primary-800: shade-color($primary, 60%);
$primary-900: shade-color($primary, 80%);
$primary_text_hover   : $primary-200;
$primary_text_box_hover: $primary-200;    
$primary_box_bg     : $primary;
$primary_shadow_bg : $primary-600;
$primary_bg_500 : $primary_box_bg;

$secondary      : red;

$secondary-100: tint-color($secondary, 80%) ;
$secondary-200: tint-color($secondary, 60%) ;
$secondary-300: tint-color($secondary, 40%) ;
$secondary-400: tint-color($secondary, 20%) ;
$secondary-500: $secondary;
$secondary-600: shade-color($secondary, 20%);
$secondary-700: shade-color($secondary, 40%);
$secondary-800: shade-color($secondary, 60%);
$secondary-900: shade-color($secondary, 80%);

$secondary_bg   : pink;
$secondary_text_hover: $secondary;
$secondary_text_box_hover: $secondary;
$secondary_box_bg: $secondary_bg;
$secondary_shadow_bg: $secondary-600;
$secondary_bg_500 : $secondary_bg;

$tertiary       : purple;
$tertiary_text  : red;
$tertiary_bg    : orange;


$colors: (
  "theme_bg":       $theme_bg,
  "primary":        $primary,
  "primary_text_hover":   $primary_text_hover,
  "primary_box_bg":     $primary_box_bg,
  "primary_shadow_bg": $primary_shadow_bg,
  "secondary":              $secondary,  
  "secondary_bg":           $secondary_bg,
  "secondary_bg_500":       $secondary_bg_500,
  "secondary_box_bg":        $secondary_box_bg,
  "secondary_shadow_bg":        $secondary_shadow_bg,
  "secondary_text_hover":   $secondary_text_hover,
  "primary_text_box_hover":  $secondary_text_box_hover,
  "tertiary":       $tertiary,
  "tertiary_text":  $tertiary_text,
  "tertiary_bg":    $tertiary_bg,
  
);

$transition-values: (
    "all": all,
    "width": width,
    "height": height,
    "1s": 1s,
    "50": .5s,
    "2s":2s,
    "0.15s": .15s,
    "delay-1s":1s,
    "delay-2s":2s,
    "linear": linear,
    "ease": ease,
    "ease-in-out": ease-in-out, 
  );
  
  $position-values: (
    0: 0,
    5: 5%,
    10: 10%,
    15: 15%,
    50: 50%,
    100: 100%
  );


@import "static/scss/variables";
// Create your own map


$custom-colors: (


    "indigo": $indigo,
    "indigo-100": $indigo-100,
    "indigo-200": $indigo-200,
    "indigo-300": $indigo-300,
    "indigo-400": $indigo-400,
    "indigo-500": $indigo-500,
    "indigo-600": $indigo-600,
    "indigo-700": $indigo-700,
    "indigo-800": $indigo-800,
    "indigo-900": $indigo-900,
    
    "red": $red,
    "red-100": $red-100,
    "red-200": $red-200,
    "red-300": $red-300,
    "red-400": $red-400,
    "red-500": $red-500,
    "red-600": $red-600,
    "red-700": $red-700,
    "red-800": $red-800,
    "red-900": $red-900,
    
    "pink": $pink,
    "pink-100":$pink-100,
    "pink-200":$pink-200,
    "pink-300":$pink-300,
    "pink-400":$pink-400,
    "pink-500":$pink-500,
    "pink-600":$pink-600,
    "pink-700":$pink-700,
    "pink-800":$pink-800,
    "pink-900":$pink-900,
    
    "purple":$purple,
    "purple-100":$purple-100,
    "purple-200":$purple-200,
    "purple-300":$purple-300,
    "purple-400":$purple-400,
    "purple-500":$purple-500,
    "purple-600":$purple-600,
    "purple-700":$purple-700,
    "purple-800":$purple-800,
    "purple-900":$purple-900,
    
    "orange": $orange,  
    "orange-100":$orange-100,
    "orange-200":$orange-200,
    "orange-300":$orange-300,
    "orange-400":$orange-400,
    "orange-500":$orange-500,
    "orange-600":$orange-600,
    "orange-700":$orange-700,
    "orange-800":$orange-800,
    "orange-900":$orange-900,
    
    "custom-color": #f5cd8d, 



);

$theme-colors: (
  "primary":    $orange,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

// Merge the maps

$theme-colors: map-merge($theme-colors, $custom-colors);



@import "static/scss/utilities";

$utilities:
(   "nav-link": (
        
    display: block,
    padding: 0.5rem 1rem,
    color: orange,
    text-color: orange,
    //text-decoration: none,
    transition: color 0.15s ease-in-out background-color 0.15s ease-in-out border-color 0.15s ease-in-out,
    ),   

        "span":
        (
            class: "myfade",
            property: transition,
            values: 
            (
                &transition-values
            //     "all": all,
            //     "width": width,
            //     "height": height,
            //     "1s": 1s,
            //     "50": .5s,
            //     "2s":2s,
            //     "delay-1s":1s,
            //     "delay-2s":2s,
            //     "linear": linear,
            //     "ease": ease,
                
            
            )

        ),
        "opacity":
        (
            property: opacity,
            class: op,
            values:
            (
                100:1,
                0:0,
                50:.5,
            25:.25,
            
            )
        ),
        "text-color":
        (
            property: color,
            class:mycolor,
            values:
            (
                "white": rgb(255, 255, 255),
                "yellow":rgb(255, 255, 0),
                "pink":pink,
                "purple":purple,

            )
        ),
        // "background-color":
        // (
        //     class: "backg",
        //     property: background-color,
        //     values: 
        //     (
        //         "purple-light": rgb(227, 16, 227)
        //     )
        // ),
    
        "width": 
        (
            property:width,
            class: w,
            values: 
            (
                25:25%,
                30:30%,
                50:50%,
                75:75%,
                100:100%,
                auto:auto
            )
        )
    );

@import "static/scss/bootstrap.scss";

.btn-myhover {    
    @extend .btn-outline-primary;   
    }
.btn-myhover:hover {
        color: $primary_text_hover;
        background-color: $primary;
        }
.btn-myhover-box {
    @extend .btn-myhover
    }

.btn-myhover-box:hover {
        color: $primary_text_box_hover;
        background-color: $primary_box_bg;
        box-shadow: 5px 5px 5px $primary_shadow_bg;
        
        }

.btn-myhover-secondary {    
    @extend .btn-outline-secondary;   
    }

.btn-myhover-secondary:hover {
        color: $secondary_text_hover;
        background-color: $secondary_bg;
        }

.btn-myhover-secondary-box {
    @extend .btn-myhover-secondary
    }

.btn-myhover-secondary-box:hover {
        color: $secondary_text_box_hover;
        background-color: $secondary_box_bg;
        box-shadow: 5px 5px 5px $secondary_shadow_bg;        
        }

.mybadge
{   color:$orange-500;
    background-color: $dark;
    border-color: $orange-800;
    @extend .badge;
}

.mybadge:hover
{
    color:$dark;
    background-color: $orange-500;
    border-color: $orange-900;
    
}

.mybox
{
    box-shadow: 5px 5px 5px ; //(décalage-x de l'ombre, décalage-y, effet-blur, couleur)
}
.mybox-orange
{   @extend .mybox;
    box-shadow: 5px 5px 5px orange; //(décalage-x de l'ombre, décalage-y, effet-blur, couleur)
}
.mybox-indigo
{   @extend .mybox;
    box-shadow: 5px 5px 5px $indigo-600; //(décalage-x de l'ombre, décalage-y, effet-blur, couleur)
}

.mybox-red
{   @extend .mybox;
    box-shadow: 5px 5px 5px red;
}
.bg-mygradient1
{
    @extend .bg-gradient;
    background: rgb(36,15,0);
    background: linear-gradient(180deg, rgba(36,15,0,1) 0%, rgba(110,59,8,1) 7%, rgba(121,65,9,1) 8%, rgba(255,145,0,1) 95%);
}

.bg-mygradient2{
    @extend .bg-gradient;
    background: rgb(36,15,0);
    background: linear-gradient(180deg, rgba(36,15,0,1) 0%, rgba(121,65,9,0.9725023798581933) 10%, rgba(115,62,8,1) 17%, rgba(110,59,8,1) 19%, rgba(118,64,8,1) 21%, rgba(255,145,0,1) 56%); 
}
.a {
    color: orange ;
    text-decoration: none;
    }
.a:hover {
    color: orange;
    
    }

.triangle-right
{    
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-left: 50px solid $indigo-500;
        border-bottom: 25 solid transparent;
    }

.myZ-index
{
    z-index: 1;
}

.myZ-index-2
{
    @extend .myZ-index;
    z-index: 2;
}
.myZ-index-3
{
    @extend .myZ-index;
    z-index: 3;
}
.myZ-index-4
{
    @extend .myZ-index;
    z-index: 4;
}

.myAlert
{
    @extend .alert;

}