<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ma Boutique en ligne</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>

    <a href="{% url 'index' %}" >
    <h1 class="center-text">Ma Boutique d'Applications</h1>
        <h3 class="center-text"> achetez de superbes applications pour des prix avantageux</h3>
    </a>
{% if user.is_authenticated %}
    {{user.username}}
    <a href="{% url 'logout' %}">Déconnexion</a>
    {% if user.cart %}
    <p><a href="{% url 'cart' %}">Voir Panier({{ user.cart.orders.count }})</a></p>
            {% endif %}

    {% else %}
    <div class="login-box">
    <a href="{% url 'signup' %}">S'inscrire</a>
    <a href="{% url 'login' %}">Connexion</a>
    </div>
    <a href="{% url 'home' %}">
        <button class="Retour" > retourner à Mon Blog </button>
        </a>
<section> <div class="container-lg">
    <div class="row justify-content-center">
        <div class="col-md-5 text-center text-md-start">
            <h1>
                <div class="display-2"> Test tuto bootstrap</div>
                <div class="display-5 text-muted"> avec text muted</div>
            </h1>
            <p class="lead my-4 text-muted">Lorem ipsum  </p>
            <a href="#pricing" class="btn btn-secondary btn-lg"> Buy NOW</a>
        </div>
        <div class="col-md-5 text-center d-none d-md-block">
            <img src="{% static '/img/photoBIN.jpg' %}" alt="" class="img-fluid">
        </div>

    </div>
</div></section>

    {% endif %}

{% block content %}

{% endblock %}

</body>
</html>