{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="row text-center">
<h1 class="login-text text-orange-400">Se connecter</h1>
<form method = "POST">
  {% csrf_token %}
  <div class="row justify-content-center">
  <p class="col-sm-6">
    <!--<label for="username"> Nom d'utilisateur: </label>-->
    <input id="username" type="text" name="username" placeholder="Username">
  </p>
    </div>
  <p>
     <!--<label for="password"> Mot de Passe:  </label>-->
    <input id="password" type="password" name="password" placeholder="password">
  </p>
  <button class= "btn btn-myhover-box" type="submit"> Connexion </button>
</form>
<a href="{% url 'signup' %}">pas encore inscrit?</a>
  </div>
<script src="{% static '/myJS/login.js' %}"> </script>
{% endblock %}