{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
  <form method="POST">
    
    {% csrf_token %}
    
      {% for field in form %}
      <div class="row justify-content-center">
        <p class="col-sm-auto text-orange-500 bg bg-dark">
          <label class= "form-label" for="{{field.id_for_label}}">{{ field.label }}:</label>       
          <!--<input  id="{{ field.id_for_label }}" type="{{field.widget_type}}" class="form-control" placeholder="{{field.html_name}}"> -->

          {{field}}
          

        </p>    
      </div>
      {%endfor%}  
      <div class="text-center">
        <input class="" type="submit" value="S'inscrire"></div>  
            </div>
      </div>
    </div>
    
  </form>
</div>
<script type= "module" src="{% static 'myJS/signup.js'%}"></script>

{% endblock %}