
{% extends 'main.html' %}
{% load static %}
{% block content %}

<div>
  <form method="POST" action=""> {% csrf_token %} 
    <div class="container"> 
        <div class="row justify-content-center"> 
          <div class="col-sm-4">
            <div class="row justify-content-center">
                <div class="col-sm-auto">
                    <input id="id_btn" class="btn" type="submit" value="Envoyer">
                </div>
            </div>   


          </div>

        </div>
    </div>
  </form>
</div>
<script type="module" src="{% static 'myJS/contact.js'%}"></script>

{% endblock %}
