{% extends 'main.html' %}
{% load static %}
{% block content %}

<div id="slide">
  <form method="POST" action=""> {% csrf_token %} 
    <div class="container"> 
    <div class="row justify-content-center"> 
      <div class="col-sm-4">
        {{form.as_p}}
      </div>
        <div class="row justify-content-center">   
            <input id="id_btn" class="myinput" type="submit" value="Envoyer">
        </div>
        
    </div>
  </form>
</div>
<script type="module" src="{% static 'myJS/contact.js'%}"></script>
<script type="module" src="{% static 'myJS/main.js'%}"></script>
{% endblock %}
