{% extends 'main.html' %}

{% block content %}
{% load static %}

<section>
    
    <div class="justify-content-center ">
        <div id= main_container class="w-100 justify-content-center bg-orange bg-mygradient1">
           <div class="col-12 text-center">
               <h1 id = "mytitle1" class="display-2 fw-bold text-indigo-500" >{{ object.main_title }}</div>
    
        </div>            
        
        <div id=badge></div>    
        <div id="d-flex" class="d-flex justify-content-center bg-orange bg-mygradient2 op-0">
            <div id="container_main_image" class="d-flex justify-content-center bg bg-orange bg-mygradient2 rounded op-0 "> 
                <div  id="dflex1" class="d-flex bg-orange bg-mygradient2 col-sm-6"></div>           
                <img id="main_image" class=" col-12 h-50 rounded img-responsive text-center"
                        src="{% static '' %}{{object.main_img_source}}" alt="images informatiques">
                <div  id="dflex2" class="d-flex bg-orange bg-mygradient2 col-sm-6"></div>   
            </div>
        </div>
        <div><h5 id= "name" class="text-center text-info op-0"> {{object.main_img_legend}}</h5>
        </div>  
    </div>
    </section>
    <section id="section2">
        <div></div>
        <div id="demo" class="carousel slide col-auto my-2 text-white text-center" data-bs-ride="carousel"> {{object.carousel_name}}
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="4000">
                        <img src="{% static 'img/python-django3.png' %}" alt="Carrousel slide 1" class="text-center">
                </div>
                    <!--<div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/logo-django.jpg' %}" alt="Carrousel slide " class="d-block offset-4">
                    </div>-->
                
                <div class="carousel-item" data-bs-interval="3000">
                            <img src="{% static 'img/javascript.jpg' %}" alt="Carrousel slide 2" class="text-center">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/bootstrap2.jpg' %}" alt="Carrousel slide 2" class="text-center">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/vscode.jpg' %}" alt="Carrousel slide 5" class="text-center">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/pycharm.jpg' %}" alt="Carrousel slide 5" class="text-center">
                </div>

                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'img/git.jpg' %}" alt="Carrousel slide 4" class="text-center">
                </div>

                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'img/logo-gunicorn.png' %}" alt="Carrousel slide 6" class="text-center">
                </div>

                <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/heroku2.png' %}" alt="Carrousel slide 7" class="text-center">
                </div>
            </div>
        </div>  
        <div>
                <h3 id="title1" class=" font-weight-light text-orange-400 p-4 border-start border-5 col-11 ms-4"> {{object.first_title_h3}} </h3>
        </div>
            <div>
            <p class="lead text-white p-4 border-start border-orange-500 border-5 col-11 ms-4"> {{object.first_p}}</p>
            </div>
        <div class="text-center">
    <img class="col-sm-auto rounded " src="{% static '' %}{{object.second_img_source}}" alt="{{object.second_img_alt}}" >
    </div>
    <div class="row p-4">
        <p class="lead text-white p-4 border-start border-orange-500 border-5 col-11 ms-4"> {{object.preview_text}}</p>
        </div>
        {% if not user.is_authenticated %}
        <script type="text/javascript"> var user_authenticated = false 
        </script>
        <div id="signup" class="justify-content-center text-center">
            <a href="{% url 'main' %}login" class="btn btn-lg col-sm-5 btn-myhover-box text-center position-relative bottom-0 visible">
                Inscrivez-vous et/ou connectez-vous pour lire la suite. </a>
        </div>
    {% endif %}
    {% if user.is_authenticated %}<script type="text/javascript"> var user_authenticated = true </script>
    <div> <h3 class="font-weight-light text-orange-400 p-4 border-start border-5 col-11 ms-4"> {{ block1.title1 }}</h3>
        <div class="text-center "><img class=" col-sm-auto rounded " src="{%static ''%}{{block1.image1}}" alt=""></div>
    </div>
       <p class="lead text-white p-4 border-start border-orange-500 border-5 col-11 ms-4"> {{ block1.paragraph1 }}
           <a class="" href="{{block1.link3}}"> {{block1.link_text1}} </a></p>

    <div> <h3 class="font-weight-light text-orange-400 p-4 border-start border-5 col-11 ms-4"> {{block1.title2}}
        <div class="text-center">
            <img id = "test" class="col-sm-auto rounded" src="{% static '' %}{{block1.image2}}" alt="">
        </div>
        </h3> <p class="lead text-white p-4 border-start border-orange-500 border-5 col-11 ms-4" > {{block1.paragraph2}}</p>
        </div>
    <div> <h3 class="font-weight-light text-orange-400 p-4 border-start border-5 col-11 ms-4"> {{block1.title3}}</h3> 
        <p class="lead text-white p-4 border-start border-orange-500 border-5 col-11 ms-4" > {{block1.paragraph3}}</p>
    {% block footer %}
    <div id="divbtt" class="invisible" >
                <button type="button" id="btnbtt"
                        class="btn btn-myhover-box position-fixed bottom-5 start-50">
                    Revenir en haut de la page</button>
                </div>
            </div> 
    {% endblock %}
        
        {% endif %}
        

</section>


<script src="{%static '/myJS/script.js' %}"></script>


<div class="slider"></div>

{% endblock %}

