{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row justify-content-center">
        <h2 class="col-12 lead display-4 border-start border-dark rounded border-5 text-center my-5 ">
            <div class="my-2">{{article.title}}</div>
            <div class="lead"> publié le: {{article.date}}</div>
        </h2>
        <div class="text-center" >
            <!--<img class="col-sm-8 rounded img-fluid " src="{{ article.image.url}}" alt="{{article.title}}">-->
            <img class="col-sm-8 rounded img-fluid " src="{% static '' %}{{article.image}}" alt="{{article.title}}">

        </div>
        <h3 class="offset-lg-1">Résumé:</h3> <p class="lead offset-lg-1">{{article.intro}}</p>
        <p class="lead offset-lg-1 text-truncate">{{article.text}}</p>
    </div>
</div>

{% if user.is_authenticated %}
<div class="text-center">
<a id ="btn_lire" class="btn my-2" href="{% url 'lire-article' article.slug %}">Lire la suite cet article</a>
    </div>

{% block article %}


{% endblock %}
{% endif %}
{% endblock %}
<script type = "module" src="{%static '/myJS/detail_article.js' %}"></script>