{% extends 'main.html'  %}
{% load static %}
{% block content %}
<div id="slide">
<div id="container" class="">
    <div class="row justify-content-center">
        <div> 
            <h1 class="col-12 pb-1"> {{article.title}}</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-auto text-center"> 
                <h5 id="date">article publié le : {{article.date}}</h5>
            </div>
        </div>
    </div>
<!--<img class=" figure col-6 img-thumbnail mb-5" src="{{article.image.url}}" alt="image de l'article {{article.slug}}">
 cette ligne vaut dans le cas où l'on a uploadé une image dans la database mais heroku supprime les images uploadés
  par les utilisateurs (à moins de payer un addon) en attendant mieux je fais pointer la source vers une image statique
  qui va avec l'application-->
  <div class="text-center mt-5">  
  <img id="id_img" class=" col-sm-6" src="{% static '' %}{{article.image}}" alt="image:{{article.image}}">
  </div>
 
<div class="col-12 justify-content-start mt-2"><p id="id_texte" class="fs-40"> {{article.text | safe | linebreaks }}</p> </div>
{% if user.is_superuser %}
<div class="text-center">
<a class="btn btn-outline-warning my-2" href="{% url 'edit-post' article.slug %}">Editer cet article</a>

        <a class="btn btn-outline-danger col-auto my-2" href="{% url 'del-post' article.slug %}">Supprimer cet article</a>
    </div>
{% endif %}
    </div>

 {% if all_article_comments %}
    <div id="card_container" class="">
        <div class="card-body">
            <h5 class="card-title w-50 justify-content-center"> Commentaires des lecteurs</h5>
                {% for comment in all_article_comments  %}
                    <div class="justify-content-sm-center">
                        <div class="card-text col-sm-6 ">
                               Posté par:  <span class="fw-bold">{{comment.user}}</span>
                          le: <span class="fw-bold"> {{comment.date}}</span>
                        <h5 class="col-sm-auto">
                         {{comment.text}}</h5>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
                {% endif %}

<section>

    <div id="new_comment" class="container text-center">
        <form method="POST">
            {% csrf_token %}
            <div class="row justify-content-center">
            <div id="add_comment" class="col-sm-auto mt-3 mb-2">
                Ajouter un commentaire:
            </div>
            </div>
            <div class="input-group row justify-content-center" >
                <div class="container col-4 mb-2"><div class="input-group-prepend ">
                    <span class="input-group-text fw-bold">{{user.username}}</span>
                </div>
                <div><textarea class="form-control "
                               aria-label="With textarea"
                               id="commentaire"
                               name="commentaire"
                               placeholder="votre commentaire ici..."
                               rows="5"
                               cols="30"

                      ></textarea>
                </div>
                <input id="btn_publish" class="btn btn-myhover-box col-sm-auto my-2" type="submit" value="publier le commentaire">
            </div>
            
        </div></form>
    </div>
</section>
{% block commentaire %}
{% endblock %}

<div class="p-5">
    <div class="row justify-content-center"></div>
<nav aria-label="Page navigation example">
  <ul class="pagination pagination-lg justify-content-center">
    <li class="page-item"><a class="page-link" href="{% url 'articles-index' %}">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
</div>
<script type = "module" src="{%static '/myJS/detail_article.js' %}"></script>

</div>
{% endblock %}
