{% extends 'common/home.html' %}

{% block content %}
{% load static %}
<div id= "scroll" class="row justify-content-center "> 
    <i class="bi bi-mouse position-fixed col-sm-auto badge badge-lg backg-purple-light text-dark fs-50"> Faîtes défiler </i>    
 <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-mouse my-4" viewBox="0 0 16 16">
        <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm4 8a4 4 0 0 1-8 0V5a4 4 0 1 1 8 0v6zM8 0a5 5 0 0 0-5 5v6a5 5 0 0 0 10 0V5a5 5 0 0 0-5-5z"/>
      </svg>

</div>
<section id="intro">
   
{% for article in articles %}

    <div id="container{{article.slug}}" class="container-lg">
        <div class="row justify-content-center">
            <div class="text-center">
                <a class="lead text-decoration-none text-black" href="{% url 'article' article.slug %}">
                    <h2>{{article.title}}</h2>
                    <h6>publié le {{article.date}}</h6>
                </a>
                <div class="row justify-content-center">
                    <a class="lead text-decoration-none text-black" href="{% url 'article' article.slug %}">
                        <!--<img class= "col-sm-6 shadow border rounded  border-4 img-fluid"
                             src="{{ article.image.url}}" alt="{{article.title}}"> heroku me supprime les images
                             uploadées je les passe donc en statique-->
                        <img class= "col-sm-6 shadow border rounded  border-4 img-fluid"
                             src="{% static '' %}{{article.image}}" alt="{{article.title}}">
                    </a>
                        <div class="lead my-4 text muted"> <a class="lead text-decoration-none text-black" href="{% url 'article' article.slug %}">
                            <h2  class="btn btn-outline-info col-sm-4 "> Lire le résumé de l'article </h2>
                            </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
{% endfor %}
</section>
<script src="{% static 'myJS/articles_anim.js' %}"></script>

{% endblock %}