{% extends 'common/home.html' %}

{% block content %}
{% load static %}
<div class="row justify-content-center "> 
<span class=" position-fixed col-sm-auto badge badge-lg bg-warning text-dark fs-50">Derouler</span>
</div>
<section id="intro">
   
{% for article in articles %}

    <div id="container{{article.slug}}" class="container-lg">
        <div class="row justify-content-center">
            <div class="text-center">
                <a class="lead text-decoration-none text-black" href="{% url 'article' article.slug %}">
                    <h2>{{article.title}}</h2>
                    <h6>publié le {{article.date}}</h6>
                </a>
                <div class="row justify-content-center">
                    <a class="lead text-decoration-none text-black" href="{% url 'article' article.slug %}">
                        <!--<img class= "col-sm-6 shadow border rounded  border-4 img-fluid"
                             src="{{ article.image.url}}" alt="{{article.title}}"> heroku me supprime les images
                             uploadées je les passe donc en statique-->
                        <img class= "col-sm-6 shadow border rounded  border-4 img-fluid"
                             src="{% static '' %}{{article.image}}" alt="{{article.title}}">
                    </a>
                        <div class="lead my-4 text muted"> <a class="lead text-decoration-none text-black" href="{% url 'article' article.slug %}">
                            <h2  class="btn btn-outline-info col-sm-4 "> Lire le résumé de l'article </h2>
                            </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
{% endfor %}
</section>
<script src="{% static 'myJS/articles_anim.js' %}"></script>

{% endblock %}