<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      {% if not user.is_authenticated %}
    <title>Accéder à mon Blog</title>
      {% else %}
      <title>Bienvenu sur mon Blog</title>
      {% endif %}

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="{% static '/css/style.min.css'%}" rel="stylesheet">
  </head>
  <body class="bg bg-dark"> <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static '/img/favicon spirale.ico'%}" alt="" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-orange-400 active" aria-current="page" href="{% url 'home'%}">Page d'Accueil</a>
        </li>
          {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main'%}admin">Admin</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actions administrateurs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'new-post' %}">Nouveau Post</a></li>
            <li><a class="dropdown-item" href="#">Nouveau Produit</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="">Editer le Post</a></li>
          </ul>
        </li>
          {% endif %}
        
        <li class="nav-item">
          {% if not user.is_authenticated %}
          <a class="nav-link btn-myhover-box text-orange-700 disabled">Admin</a>
          {% endif %}
        </li>
      </ul>
      
        {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light"
                       href="#"
                       id="navbarDropdownUser"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" >{{user.username}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Profil</a></li>
                        <li><a class="dropdown-item" href="#">Paramètres</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div><a class="btn btn-sm text-light mx-1" href="{% url 'logout' %}">Déconnexion</a></div>

            {% if user.cart %}
            <a class="btn btn-sm text-white mx-1" href="{% url 'cart' %}">Voir Panier({{ user.cart.orders.count }})</a>
            {% endif %}
        {% endif %}
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
        <button class="btn btn-myhover-box" type="submit">Chercher</button>
      </form>
    </div>
  </div>
</nav>


  <div class="row width-100 mt-5"> <img class="img-fluid mybox" src="{% static '/img/banniere.png' %}" alt=""> </div>
{% if not user.is_authenticated %}
  <h4 id="portail" class=" display-4 text-orange-500 text-center"> Portail d'accès à mon site web</h4>
  {% endif %}
  </body>
<section>
    {% if user.is_authenticated %}
    <div class="row text-center">
        <div class="col-md-4">

            <a class="btn  btn-myhover-box my-2 offset-lg-3" href="{% url 'articles-index' %}">Mes dernières publications </a>
        </div>
        <div class="col-md-4">
        <a class="btn btn-myhover-box my-2" href="{% url 'index' %}"> Ma Boutique d'applications en ligne </a>
        </div>
        <div class="col-md-4 ">
            <a class="btn  btn-myhover-box my-2" href="{% url 'home' %}"> Retourner à la page d'accueil</a>
        </div>
    </div>
    {% else %}
    <div class="text-center">
        <div>
        <a class="btn btn-myhover-box my-2 " href="{% url 'home' %}">Aperçu de mon blog</a>
        </div>
        <div>
            <a class="btn btn-myhover-box mb-2" href="{% url 'signup' %}">S'inscrire</a>
            <a class="btn btn-myhover-box mb-2" href="{% url 'login' %}">Connexion</a>
        </div>
        </div>
    {% endif %}
</section> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>

<script src="{% static '/js/bootstrap.bundle.min.js'%}" ></script>
<section>
    {% block content %}

    {% endblock %}
</section>

<section>
    {% block edit-post %}

    {% endblock %}
</section>
<footer class="position-sticky bottom-0 end-0"> {% block footer %}
  {% endblock%} <strong> Copyright © 2022,  Tous droits réservés. Auteur du site: Ekla HSV-MWF.</strong>
</footer>

</html>
